.search_container {
  padding: 0px 75px;
  margin-top: 100px;
  min-height: 70vh;
}
.title_search {
  font-size: 24px;
  font-weight: bold;
}
.wrapper_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
